%button {
  border: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
  padding: 14px 15px;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
}

%hover {
  transition: ease-in opacity 100ms;
  box-sizing: content-box;
  
  &:hover {
    opacity: 0.6;
  }
}

.Button {
  &-kind {
    &__primary {
      @extend %button;
      @extend %hover;
      
      background-color: #20BBA6;
    }
  }

  &-block {
    width: 100%;
  }
}